form {
    padding: 0;
    margin: 0;
}
p {
    zoom: 1.0;
	color:#F00;
	font-weight:bold;
	font-size:13px;
	text-decoration:underline;
}
h1 {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0.67em 0px;
}
h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0.83em 0px;
}
h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 1em 0px;
}
a {
    color: #000;
}
a img {
    border: 0;
    vertical-align: middle;
}

#slogan {
    padding: 20px 0;
    float: left;
    color: #fff;
    line-height: 30px;
    font-size: 18px;
    font-family: courier, monospace;
}
#menu {
    background: #FD0;
    background: -webkit-linear-gradient(#FFE038, #E5B72D);
    background: -moz-linear-gradient(#FFE038, #E5B72D);
    background: -ms-linear-gradient(#FFE038, #E5B72D);
    background: -o-linear-gradient(#FFE038, #E5B72D);
    padding: 10px 0 0 0;
    box-shadow: 0 0 500px rgba(255,255,255,0.5);
}
#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
#menu li
{
    margin: 0 6px 0 0;
    padding: 0;
    list-style: none;
    display: block;
    float: left;
}
#menu li a {
    margin: 0;
    padding: 0 15px;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-shadow: 0 -1px 1px #EEEEEE;
    border-radius: 7px 7px 0 0;
}
#menu li a:hover {
    background: #555;
    background: -webkit-linear-gradient(#555555, #333333);
    background: -moz-linear-gradient(#555555, #333333);
    background: -ms-linear-gradient(#555555, #333333);
    background: -o-linear-gradient(#555555, #333333);
    color: #fff;
    text-shadow: 0 -1px 1px #000000;
}
#menu li a.active {
    background: #fff;
    color: #000;
    text-shadow: 0 -1px 1px #EEEEEE;
}
#content {
    padding: 10px 0 60px 0;
    background: #fff;
}
