@charset "utf-8";
/* CSS Document */


img, a img {
	border:0px;
}
a {
	text-decoration:none;
	color:#069;
}
html, body {
height: 100%;
margin: 0px;
padding: 0px;
}
.border {
height: 1px;
border-bottom: 1px dashed #f6c758;
width: 100%;
margin: 15px auto;
}
body{
	min-height: 100%;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-size:12px;
	color: #333;
	background: #f9f9f9;
	line-height: 20px;
}
.clear {
	clear:both;
}
#wrapper {
	width:100%;
	min-width:960px;
	min-height:100%;
	margin:0px auto;
	padding:0px;
	padding-bottom: 0px;
	position: relative;
	background:#FFF;
	border-top:none;
}

#header {
	height:85px;
	background:#f4f4f4;
	border-bottom:1px #CCC solid;
}
#header .header-top{
	height:30px;
	padding:10px;
	background:#222222;
	display: block;
	color: #eeeeee;
	margin: 0 0 0 -2px;
	padding: 3px 0;
	/*position: fixed;*/
	width: 100%;
	z-index: 999;
}
#header .header-top .usernav {
float: right;
z-index: 6000;
position: relative;
font-size: 11px;
margin-right: 20px;
}
#header .header-top .usernav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border-left: 1px solid #39454f;
	border-right: 1px solid #39454f;
	margin-right: -1px;
	
}
#header .header-top .usernav ul li {
display: inline;
float: left;
position: relative;
cursor: pointer;
border-left: 1px solid #1c262b;
border-right: 1px solid #1c262b;
margin-left: -1px;
}
#header .header-top .usernav ul li a {
color: #eeeeee;
text-decoration: none;
display: block;
float: left;
border-left: 1px solid #39454f;
border-right: 1px solid #39454f;
}

#header .header-top .usernav ul li a:hover,
#header .header-top .usernav ul li a.active{ border-left: 1px solid #293138; border-right: 1px solid #293138; background-color: #293138; }
#header .header-top .usernav ul li span { display: block; padding: 4px 15px 4px 8px; float: left; }
#header .header-top .usernav ul li img { float: left; display: block; margin: 9px 2px 0px 14px; }
#header .header-top .usernav ul li img.menu { float: left; display: block; margin: 9px 14px 0px 2px; }

ul.userDropdown { position: absolute; left: -9px; display: none; top: 35px; background: url(../images/subArrow.png) no-repeat 50% 0; padding: 0 1px 1px 1px; z-index: 100; border: none; }
ul.userDropdown li { display: block; float: none; border-bottom: 1px solid #1c252b; border-top: 1px solid #404950; background: url(../images/backgrounds/navBg.jpg); }
ul.userDropdown li:hover { border-top: 1px solid #374047; }
ul.userDropdown li:first-child { margin-top: 6px; border-top: none; -webkit-border-top-right-radius: 2px; -webkit-border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -moz-border-radius-topleft: 2px; }
ul.userDropdown li:last-child { -webkit-border-bottom-right-radius: 2px; -webkit-border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; -moz-border-radius-bottomleft: 2px; }
ul.userDropdown li a { width: 100px; padding: 6px 10px 7px 32px; font-size: 11px; text-transform: none; font-weight: normal; float: none; border: none; }
ul.userDropdown li a:hover { border-right: none; border-left: none; }

#header .logo {
	width:40%;
	float:left;
	padding:5px;
	margin-left:2%;
}
.search-box {
	width:220px;
	float:right;
	padding:7px 0px;
	margin-right:3%;
}
.search-box .search {
	width:220px;
	padding: 5px 10px;
	background: #fff url(images/search.png) no-repeat 215px 5px;
	font-size: 12px;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}


#main {
	position:relative;
	padding-bottom:50px;
	margin-top:20px;
}
.submit {
	padding: 10px 20px;
	margin: 5px auto;
	font-weight:bold;
	color: #FFF;
	cursor:pointer;
	background: #216dc5; /* Old browsers */
	background: -moz-linear-gradient(top,  #216dc5 48%, #0254b1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#216dc5), color-stop(100%,#0254b1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #216dc5 48%,#0254b1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #216dc5 48%,#0254b1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #216dc5 48%,#0254b1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #216dc5 48%,#0254b1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#216dc5', endColorstr='#0254b1',GradientType=0 ); /* IE6-9 */
	border:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}
.submit:hover {
	background: #0154b0; /* Old browsers */
	background: -moz-linear-gradient(top,  #0154b0 0%, #216dc5 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0154b0), color-stop(99%,#216dc5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0154b0 0%,#216dc5 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0154b0 0%,#216dc5 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0154b0 0%,#216dc5 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #0154b0 0%,#216dc5 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0154b0', endColorstr='#216dc5',GradientType=0 ); /* IE6-9 */

}

.left-box {
	width:20%;
	padding:0 1%;
	float:left;
}

.left-box ul {
	margin:0px;
	padding:0px;
	list-style:none;
}

.left-box ul li a{
	display:block;
	margin:5px 0 0;
	background-color:#ebebeb;
	color:#0976a8;
	padding:9px 10px 6px 40px;
	font-size:13px;
	font-weight:bold;
	border:1px #CCC solid;
}
.left-box ul li a:hover {
	background:#dedede;
}
.left-box ul li a.active{
	color:#FFF;
	background:#59b7f9;
	border:1px #1995c8 solid;
}
.left-box ul li img { float: left; display: block; margin: 12px 2px 0px 14px; }

.right-box {
	width:76%;
	float:left;
	padding:0 1%;
}
.right-box .bredcrum{
	padding:1px 10px;
	background:#FFF;
	border:1px #CCC solid;
	margin-top:5px;
	margin-bottom:20px;
	color:#069;
}
.right-box .bredcrum a{
	font-size:12px;
	font-weight:500;
	color:#069;
	text-decoration:none;
}
.right-box .tab-menu {
	z-index: 6000;
	position: relative;
    margin-bottom: 5px;
}
.right-box ul.tab-menu {
	margin:0px;
	padding:0px;
	list-style:none;
}
.right-box ul.tab-menu  li {
	margin:0px;
	padding:0px;
	display: inline;
	float: left;
	position: relative;
	cursor: pointer;
}
.right-box ul.tab-menu li a{
	padding:5px 10px;
	background:#F9F9F9;
	border:1px #CCC solid;
	border-right:none;
	font-size:12px;
	margin: 0px;
}
.right-box ul.tab-menu li a.last{
	border-right:1px #CCC solid;
}
.right-box ul.tab-menu li a.active{
	padding:5px 10px 6px 10px;
	background:#FFF;
	border-bottom: none;
}
.right-box .tab-box {
	padding:10px;
	border:1px #CCC solid;
	margin-top:42px;
}
.right-box .box {
	padding:10px;
	border:1px #CCC solid;
	margin-top:8px;
}
.right-box h2.heading{
	color:#035091;
	font-size:18px;
}
.right-box .box-search, .box-search-filter, .box-search-result {
	margin-top:5px;
	margin-bottom:10px;
	padding:5px 10px;
	background:#f2f2f2;
}
.right-box .box-search-filter .box-filter {
	width:200px;
	height:auto;
	background:#dbdbdb;
	margin:5px 2px;
	float:left;
}
.right-box .box-search-filter .box-filter ul {
	margin:0;
	padding:5px 10px;
	list-style:none;
}
.right-box .box-search-filter .box-filter ul li {
	display:block;
	margin:10px 0;
	font-size:12px;
	color:#666666;
}
.right-box .box-search-filter .box-filter ul li .filter-select {
	background:#cfcfcf;
	border:none;
	padding:5px 10px;
	width:180px;
}

.right-box .box-search-filter .box-filter-fields {
	width:600px;
	height:auto;
	float:left;
	margin:5px 10px;
}
.right-box .box-search h5{
	margin:0px;
	padding:0px;
}
.right-box .box-search p.search-option {
	margin:0px;
	padding: 3px 0px;
	clear: both;
}
.right-box .box-search ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
.right-box .box-search ul li {
	display:inline;
	float:left;
	margin-left:10px;
	font-size:12px;
	color:#666666;
}
.right-box .box-search ul li h5 {
	margin:0px;
	padding:0px;
	color:#035c9b;
	font-size:12px;
}
.right-box .box-search ul li select {
	padding:2px;
}

.right-box .box-search-result .result-table {
	margin:5px 0;
	border:2px solid #fff;
}
.right-box .box-search-result .result-table th {
	background:#2983c2;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	border-bottom:2px solid #fff;
}
.right-box .box-search-result .result-table .heading-select {
	border:1px solid #001626;
	background:#084672;
	font-weight:bold;
	color:#fff;
	width:200px;
}

.right-box .box-search-result .result-table .table-heading {
	text-align:left;
	padding-left:15px;
	border-right:2px solid #fff;	
}
.right-box .box-search-result .result-table .line1 {
	background:#e8e8e8;
}
.right-box .box-search-result .result-table .line2 {
	background:#f2f2f2;
}
.right-box .box-search-result .result-table .line3 {
	border-right:2px solid #fff;
}
.right-box .box-search-result .result-table .level-1 {
	font-size:14px;
	padding-left:15px;
}
.right-box .box-search-result .result-table .level-2 {
	font-size:14px;
	padding-left:35px;
}
.right-box .box-search-result .result-table .level-3 {
	font-size:14px;
	padding-left:55px;
}
.right-box .box-search-result .result-table .level-4 {
	font-size:14px;
	padding-left:75px;
}
.right-box .box-search-result .result-table .level-5 {
	font-size:14px;
	padding-left:95px;
}
.right-box .box-search-result .result-table .total-count {
	text-align:center;
	font-size:14px;
}
.right-box .box-search-result .search-details {
	background:#FFF;}

.right-box .box-search-result .search-details .details-table {
	border:1px solid #9a9a9a;
}

.right-box .box-search-result .search-details .details-table th {
	background:#d7d7d7;
	color:#313131;
	font-size:13px;
	padding-left:7px;
	text-align:left;
	border-bottom:1px solid #fff;
}
.right-box .box-search-result .search-details .details-table td {
	border-bottom:1px solid #fff;
}
.right-box .box-search-result .search-details .details-table .line4 {
	background:#f9e6b8;
}
.right-box .box-search-result .search-details .details-table .line5 {
	background:#cee6fc;
}
.view-button a {
	display:block;
	width:80px;
	background:#216dc5;
	color:#fff;
	text-align:center;
	float:left;
	margin-left:5px;
}

.right-box .box label {
	width:30%;
	position: relative;
	display: block;
	text-align: right;
	margin: 0px 10px 0px 0px;
	padding: 3px 10px 0px 0px;
	cursor: pointer;
	float: left;
	font-size:12px;
	line-height: 18px;
}
.right-box .box .to {
	padding:5px 10px;
	margin-right:5px;
	float:left;
	font-size:14px;
	font-weight:bold;
	color:#333;
}
.right-box select {
padding: 3px;
margin: 0px 2px 0px 0;
font-size: 12px;
}
.right-box .input {
padding: 3px;
margin: 0px 0 0px 0;
color: #3333;
}

.right-box .input.small {
	width:80px;
}
.right-box .input.medium{
	width:140px;
}
.right-box .box-2 select {
padding: 3px;
margin: 0px 0 0px 0;
font-size: 12px;
}
.right-box .box select.large {
width: 290px;
}
.right-box .box .input {
padding: 3px;
margin: 0px 0 0px 0;
color: #3333;
}
.right-box .box .large-select{
	width:300px;
}
.right-box .box .medium-select{
	width:150px;
	float: left;
}
.right-box .box .small-select{
	width:70px;
	float: left;
	padding:5px 5px;
}


.right-box .col-1 {
	margin:10px 0;
	padding:10px 10px 0 10px;
	background:#f8f6dc;
	border:1px #898a15 solid;
	font-size:12px;
}
.right-box .col-1 h2{
	margin:0px;
	padding:0px;
	font-size:14px;
	margin-bottom:10px;
}
.right-box .col-1 p{
	margin:0px;
	padding:0px;
	margin-bottom:10px;
}
.right-box .col-1 .profile-title {
	width:180px;
	float:left;
	font-weight:bold;
	margin-left:20px;
	margin-bottom:10px;
}
.right-box .col-1 .profile-data {
	width:450px;
	float:left;
	margin-bottom:10px;
}
.right-box .col-1 .title {
	padding:0 0 10px 0;
	margin-bottom:15px;
	border-bottom:1px #F60 dashed;
	font-weight:bold;
}
.right-box .col-1 .title h1{
	margin:0px;
	padding:0px;
	float:left;
	color:#900;
	font-size:16px;
}
.right-box .col-1 .title .postdate{
	width:100px;
	float:right;
	color:#333;
	font-size:12px;
}
.right-box .col-1 .submit {
	padding: 7px 10px;
	margin: 0px 0 30px 0;
	font-weight:bold;
	color: #FFF;
	float:right;
	clear:right;
	cursor:pointer;
	background: #216dc5; /* Old browsers */
	background: -moz-linear-gradient(top,  #216dc5 48%, #0254b1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#216dc5), color-stop(100%,#0254b1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #216dc5 48%,#0254b1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #216dc5 48%,#0254b1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #216dc5 48%,#0254b1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #216dc5 48%,#0254b1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#216dc5', endColorstr='#0254b1',GradientType=0 ); /* IE6-9 */
	border:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}
.right-box .col-1 .submit:hover {
	background: #0154b0; /* Old browsers */
	background: -moz-linear-gradient(top,  #0154b0 0%, #216dc5 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0154b0), color-stop(99%,#216dc5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0154b0 0%,#216dc5 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0154b0 0%,#216dc5 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0154b0 0%,#216dc5 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #0154b0 0%,#216dc5 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0154b0', endColorstr='#216dc5',GradientType=0 ); /* IE6-9 */

}

.right-box .submit-button {
	padding: 7px 10px;
	font-weight:bold;
	color: #FFF;
	cursor:pointer;
	background: #216dc5; /* Old browsers */
	background: -moz-linear-gradient(top,  #216dc5 48%, #0254b1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#216dc5), color-stop(100%,#0254b1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #216dc5 48%,#0254b1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #216dc5 48%,#0254b1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #216dc5 48%,#0254b1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #216dc5 48%,#0254b1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#216dc5', endColorstr='#0254b1',GradientType=0 ); /* IE6-9 */
	border:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}
.right-box .submit-button:hover {
	background: #0154b0; /* Old browsers */
	background: -moz-linear-gradient(top,  #0154b0 0%, #216dc5 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0154b0), color-stop(99%,#216dc5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0154b0 0%,#216dc5 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0154b0 0%,#216dc5 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0154b0 0%,#216dc5 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #0154b0 0%,#216dc5 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0154b0', endColorstr='#216dc5',GradientType=0 ); /* IE6-9 */

}

.right-box .snapshot-box {
	width:200px;
	float:left;
	margin:0px;

	background:#d4f0fb;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	font-size:13px;
	font-weight:bold;
}
.right-box .snapshot-box span.left{
	padding:2px;
	width:70%;
	float:left;
	font-size:12px;
}
.right-box .snapshot-box span.right{
	padding:2px 5px;
	display:block;
	float:right;
	background:#1d86af;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#FFF;
}

.right-box a.snapshot-box {
	color:#333;
}
.right-box a.snapshot-box:hover, .right-box a.snapshot-box.active {
	background:#fbefd4;
}
.right-box a.snapshot-box:hover span.right, .right-box a.snapshot-box.active span.right {
	background:#af841d;
}
.right-box table {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.right-box table tr.blue {
	background:#cee6fc;
}
.right-box table tr.orange {
	background:#f9e6b8;
}

.right-box table .submit {
	padding: 2px 5px;
	margin: 00px 0 0px 0;
	color: #FFF;
	font-size:11px;
	cursor:pointer;
	background: #216dc5; /* Old browsers */
	background: -moz-linear-gradient(top,  #216dc5 48%, #0254b1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#216dc5), color-stop(100%,#0254b1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #216dc5 48%,#0254b1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #216dc5 48%,#0254b1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #216dc5 48%,#0254b1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #216dc5 48%,#0254b1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#216dc5', endColorstr='#0254b1',GradientType=0 ); /* IE6-9 */
	border:none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
}
.right-box table .submit:hover {
	background: #0154b0; /* Old browsers */
	background: -moz-linear-gradient(top,  #0154b0 0%, #216dc5 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0154b0), color-stop(99%,#216dc5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0154b0 0%,#216dc5 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0154b0 0%,#216dc5 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0154b0 0%,#216dc5 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #0154b0 0%,#216dc5 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0154b0', endColorstr='#216dc5',GradientType=0 ); /* IE6-9 */
}


.right-box .col-left {
	width:25%;
	float:left;
	padding:1%;
	margin-right:1%;
	background:#f2f2f2;
}

.right-box .col-left table.graph {
	margin:0px;
	padding:0px;
}
.right-box .col-left table.graph td{
	padding:2px 0px;
}
.right-box .col-left table.graph td p{
	margin:0px;
	padding:0px;
	color:#970202;
	text-align:right;
	font-weight:bold;
	margin-right:10%;
	font-size:12px;
}
.right-box .col-left table.graph td.vrline {
	background:#3b84b7;
}
.right-box .col-left table.graph td .hrline {
	border-color:#3b84b7;
}

.right-box .col-left table.graph td .talkbubble {
	float:left;
	clear:left;
	margin-left:10%;
   width: 70%;
   text-align:center;
   height: 20px;
   border:1px #bebebe solid;
   background: #F9F9F9;
   position: relative;
   -moz-border-radius:    3px;
   -webkit-border-radius: 3px;
   border-radius:         3px;
}
.right-box .col-left table.graph td .talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 4px;
   width: 0;
   height: 0;
   border-top: 6px solid transparent;
   border-right: 8px solid #bebebe;
   border-bottom: 6px solid transparent;
}
.right-box .col-left table.graph td .talkbubble span {
	font-size:10px;
	font-weight:bold;
	top: 0px;
	position: relative;
}
.right-box .col-left table.graph td .talkbubble:hover {
	color:#930;
}

.right-box .col-right {
	width:71%;
	float:right;
	background:#FFF;
	padding:0px 0px 10px 0px;
	border:1px #CCC solid;
}
.right-box .col-right .box-search {
	margin-top:0px;
}


.title-box {
	padding:2px 10px;
	background:#e6e6e6;
	margin:10px 0;
	display:block;
	position:relative;
}
.title-box .title {
	width:40%;
	margin:5px;
	padding:0px;
	float:left;
	font-size:14px;
}
.title-box .search-box {
	padding:0px;
}
.muliselect {
padding: 0px;
margin: 10px 0 0px 0;
color: #3333;
list-style: none;
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
}
.muliselect .optgroupitem {
display: block;
float: left;
padding: 5px;
margin-right: 5px;
margin-bottom: 5px;
background: #f6f6f6;
border: 1px #CCC solid;
-moz-box-shadow: inset 0 0 5px 1px #c3c0c0;
-webkit-box-shadow: inset 0 0 5px 1px #c3c0c0;
box-shadow: inset 0 0 5px 1px #c3c0c0;
}
.muliselect .optgroupitem.active {
background: #ddc604;
border: 1px #c1a404 solid;
font-weight: bold;
padding: 5px;
}

.muliselect .logo {
	min-height:60px;
	display: block;
	float: left;
	padding: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	background: #f6f6f6;
	border: 1px #CCC solid;
	position:relative;
	
}
.muliselect .logo p {
	margin:0px;
	padding:0px;
	text-align:center;
	color:#027099;
	bottom:0px;
	position:absolute;
	margin-left:5px;
}

.box-1 {
	width:48%;
	float:left;
	padding:1%;
}
.box-1 .depart-box {
	padding:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#FFF;
	box-shadow:0px 0px 5px #CCC;
	margin-bottom:10px;
}
.box-1 .depart-box .depart {
	padding:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #0154b0; /* Old browsers */
	background: -moz-linear-gradient(top,  #0154b0 0%, #216ec6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0154b0), color-stop(100%,#216ec6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0154b0 0%,#216ec6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0154b0 0%,#216ec6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0154b0 0%,#216ec6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0154b0 0%,#216ec6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0154b0', endColorstr='#216ec6',GradientType=0 ); /* IE6-9 */
}
.box-1 .depart-box .depart .title{
	font-size:14px;
	color:#FFF;
	float:left;
}
.box-1 .depart-box .depart .title .input{
	width:250px;
	padding:1px 5px;
}
.box-1 .depart-box .depart .action{
	background:#FFF;
	float:right;
	padding:2px;
	margin-left:5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top:2px;
}

.box-1 .depart-box .depart-1 {
	padding: 2px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #9dc9fc;
	border:1px #b5c6d0 solid;
	margin-bottom:5px;

}

.box-1 .depart-box .depart-1 .title{
	font-size:12px;
	color:#333;
	float:left;
}
.box-1 .depart-box .depart-1 .title .input{
	width:250px;
	padding:1px 5px;
}
.box-1 .depart-box .depart-1 .action{
	background:#FFF;
	float:right;
	padding:2px;
	margin-left:5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top:2px;
}

.box-1 .depart-box .depart-2 {
	width:95%;
	float:right;
	padding: 2px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #bfdbfb; 
	border:1px #b5c6d0 solid;
	margin-bottom:5px;

}

.box-1 .depart-box .depart-2 .title{
	font-size:12px;
	color:#333;
	float:left;
}
.box-1 .depart-box .depart-2 .title .input{
	width:250px;
	padding:1px 5px;
}
.box-1 .depart-box .depart-2 .action{
	background:#FFF;
	float:right;
	padding:2px;
	margin-left:5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top:2px;
}


.box-1 .depart-box .depart-3 {
	width:90%;
	float:right;
	padding: 2px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #e2effd;
	border:1px #b5c6d0 solid;
	margin-bottom:5px;

}

.box-1 .depart-box .depart-3 .title{
	font-size:12px;
	color:#333;
	float:left;
}
.box-1 .depart-box .depart-3 .title .input{
	width:250px;
	padding:1px 5px;
}
.box-1 .depart-box .depart-3 .action{
	background:#FFF;
	float:right;
	padding:2px;
	margin-left:5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top:2px;
}

.box-1 .depart-box .depart-4 {
	width:85%;
	float:right;
	padding: 2px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F2F2F2;
	border:1px #CCC solid;
	margin-bottom:5px;

}

.box-1 .depart-box .depart-4 .title{
	width:70%;
	font-size:12px;
	color:#333;
	float:left;
}
.box-1 .depart-box .depart-4 .title .input{
	width:250px;
	padding:1px 5px;
}
.box-1 .depart-box .depart-4 .action{
	background:#FFF;
	float:right;
	padding:2px;
	margin-left:5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top:2px;
}





.box-1 .depart-box .edit-box {
	width:100%;
}
.box-1 .depart-box .edit-box .input{
	width:75%;
	margin:5px 0px 0px 0px;
}
.box-1 .depart-box .edit-box .submit{
	width:18%;
	float:right;
	padding: 5px;
	margin: 5px auto;
	font-weight: bold;
	color: #333;
	cursor: pointer;
	background: #e6f0a3; /* Old browsers */
background: -moz-linear-gradient(top,  #e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6f0a3), color-stop(50%,#d2e638), color-stop(51%,#c3d825), color-stop(100%,#dbf043)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=0 ); /* IE6-9 */

	border: 1px #9C0 solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
	



#footer {
	width:100%;
padding:10px 0px;
text-align: center;
font-size: 12px;
color: #333;
position: absolute;
bottom: 0;
background: #F2F2F2;
border-top: 1px #CCC solid;
font-family: Arial, Helvetica, sans-serif;
}

.right-box .box-2 table.table{
	margin-left:10px;
}
.right-box .box .input.vsmall {
	width:30px;
	padding:1px 3px;
}
.right-box .box .expsubmit {
	padding: 2px 5px;
	margin: 0px;
	margin-left:10px;
	font-size:12px;
	font-weight:bold;
	color: #FFF;
	cursor:pointer;
	background: #216dc5; /* Old browsers */
	background: -moz-linear-gradient(top,  #216dc5 48%, #0254b1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#216dc5), color-stop(100%,#0254b1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #216dc5 48%,#0254b1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #216dc5 48%,#0254b1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #216dc5 48%,#0254b1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #216dc5 48%,#0254b1 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#216dc5', endColorstr='#0254b1',GradientType=0 ); /* IE6-9 */
	border:none;
}

.right-box .box table.table .minitable{
	border:1px #CCC solid;
		border-bottom:0px;
		border-left:0px;
}
.right-box .box table.table .minitable tr td {
	border-bottom:1px #CCC solid;
	border-left:1px #CCC solid;
}

.right-box .box table tr td label.headingline{
	width:100%;
	color:#999;
}
.right-box .box-2 table tr td label.headingline{
	width:100%;
	color:#999;
}

.right-box .box h2{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#0862a7;
}

 .right-box .box h1{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#0862a7;
}

.right-box .box-2 {
	padding:10px;
	border:1px #CCC solid;
	margin-top:8px;
}
.right-box .box-2 h1{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#0862a7;
}
.right-box .box-2 lable{
	width:100%;
	float: left;
	clear: left;
	margin: 0px 10px 0 0;
	text-align: left;
	font-size: 12px;
	color: #333;
	text-shadow: 0px 1px 0px #f2f2f2;
	font-family: Arial, Helvetica, sans-serif;
}
.right-box .box-2 select {
padding: 3px;
margin: 0px 0 0px 0;
font-size: 12px;
}
.right-box .box-2 select.large {
width: 290px;
}
.right-box .box-2 .input {
padding: 3px;
margin: 0px 0 0px 0;
color: #3333;
}

.right-box .box-2 .submit {
padding: 5px 20px;
margin: 0px;
font-weight: bold;
color: #FFF;
cursor: pointer;
background: #216dc5;
background: -moz-linear-gradient(top, #216dc5 48%, #0254b1 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#216dc5), color-stop(100%,#0254b1));
background: -webkit-linear-gradient(top, #216dc5 48%,#0254b1 100%);
background: -o-linear-gradient(top, #216dc5 48%,#0254b1 100%);
background: -ms-linear-gradient(top, #216dc5 48%,#0254b1 100%);
background: linear-gradient(to bottom, #216dc5 48%,#0254b1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#216dc5', endColorstr='#0254b1',GradientType=0 );
border: none;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.right-box .box-2 .submit:hover {
background: #0154b0;
background: -moz-linear-gradient(top, #0154b0 0%, #216dc5 99%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0154b0), color-stop(99%,#216dc5));
background: -webkit-linear-gradient(top, #0154b0 0%,#216dc5 99%);
background: -o-linear-gradient(top, #0154b0 0%,#216dc5 99%);
background: -ms-linear-gradient(top, #0154b0 0%,#216dc5 99%);
background: linear-gradient(to bottom, #0154b0 0%,#216dc5 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0154b0', endColorstr='#216dc5',GradientType=0 );
}
.right-box .box-2 .addmore {
width: 300px;
float: left;
margin: 10px 0;
margin-left: 110px;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
}
.right-box .box label .note {
margin: 0px;
padding: 0px;
font-size: 11px;
color: #900;
line-height:5px;
}
.right-box .box-2 label .note {
margin: 0px;
padding: 0px;
font-size: 11px;
color: #900;
line-height:5px;
}

.right-box .box-2 .addfile {
padding: 4px 8px;
margin: 0px;
font-size: 12px;
font-weight: bold;
color: #333;
cursor: pointer;
background: #e2e2e2;
background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe));
background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );
border: 1px #CCC solid;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.dashbox {
Display: block;
float: left;
width:32.4%;
min-width:245px;
min-height: 30px;
margin-right: 6px;
margin-bottom:5px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
 .visual {
	/*width: 150px;*/
	height: 60px;
	display: block;
	float: left;
	padding-top: 15px;
	padding-left: 15px;
	font-size:22px;
	color: #FFF;
}
.dashbox .details {
float: right;
padding-right: 10px;
}
 .details .number {
padding-top: 16px;
text-align: right;
font-size: 34px;
letter-spacing: -1px;
font-weight: 300;
color: #fff;
margin-bottom: 10px;
}
.details .desc {
text-align: right;
font-size: 16px;
letter-spacing: 0px;
font-weight: 300;
color: #fff;
}
.more {
clear: both;
display: block;
padding: 5px 10px 5px 10px;
text-transform: uppercase;
font-weight: 300;
font-size: 11px;
color: #fff;
opacity: 0.7;
filter: alpha(opacity=70);
}
.dashbox .more i {
margin-top: 4px;
float: right;
display: inline-block;
width: 14px;
height: 14px;
margin-top: 4px;
line-height: 14px;
vertical-align: top;
background-repeat: no-repeat;
}
.m-icon-swapright {
background-position: -27px -10px;
}
.m-icon-white {
background-image: url(images/syncfusion-icons-white.png);
}
.dashbox.span1 .more {
background-color: #208dbe;
}
.span1 {
	width:98.5%;
	background:#09C;
	height:50px;
}

.dashbox.span2 .more {
background-color: #6ba700;
}
.span2 {
	background:#78ba00;
}


.dashbox.span3 .more {
background-color: #6e1881;
}
.span3 {
	background:#852b99;
}

.dashbox.span4 .more {
background-color: #cb871b;
}
.span4 {
	background:#ffb848;
}

.dashbox.span5 .more {
background-color: #01414d;
}
.span5 {
	background:#05869a;
	width:49%;
}

.dashbox.span6 .more {
background-color: #a1391c;
}
.span6 {
	background:#d74f2a;
	width:49%;
}

.dashbox table {
	border:1px #CCC solid;
	border-bottom:none;
	border-left:none;
}
.dashbox table tr td {
	border-bottom:1px #CCC solid;
	border-left:1px #CCC solid;
}
.dashbox table tr.tdgray {
	background:#E9E9E9;
}
.dashbox table tr.tdwhite {
	background:#F9F9F9;
}
.input-label {
font-size:12px;
font-weight:bold;
line-height:14px;}

.input-type-text, .input-type-select {
border:1px solid #a9a9a9;
padding:0px 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
outline:none;
margin:0;}

.input-type-text {
height:23px;}

.lalign {
margin-left:5px;}

.size1 {
width:166px;}

.size2 {
width:189px;}

.size3 {
width:195px;}

.size4 {
width:96px;}

.size5 {
width:230px;}

.size6 {
width:72px;}


table.experience-table {
border-collapse:collapse;}

.experience-table th {
border: 1px solid #425d7c;
background:#cee5ff;
color:#1657a1;
font-size:13px;}

.experience-table td {
border: 1px solid #425d7c;
text-align:center;}

.table-left-column {
text-align:left;}

.save-button {
margin-left:30%;}

.box-2 .save-button .submit {
-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
box-shadow:inset 0px 1px 0px 0px #97c4fe;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
background-color:#3d94f6;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
border:1px solid #337fed;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-size:12px;
padding:5px 20px;
text-decoration:none;
text-shadow:0px 1px 0px #1570cd;
}

.box-2 .save-button .submit:hover{
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
background-color:#1e62d0;
}

.box-2 .save-button .submit:active {
position:relative;
top:1px;
}